{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>AI Recommendations</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar">
    <h2>SmartPrice AI</h2>
    <div>
        <a href="/dashboard/">Dashboard</a>
        <a href="/wishlist/">Wishlist</a>
        <a href="/profile/">Profile</a>
        <a href="/logout/">Logout</a>
    </div>
</nav>

<section class="products">
    <h2>AI Recommendations for {{ product.name }}</h2>

    <div class="product-grid">
        {% for item in recommended_list %}
        <div class="card">
            <img src="{{ item.product.image.url }}" width="200">
            <h3>{{ item.product.name }}</h3>
            <p>{{ item.product.brand }}</p>
            <p>₹{{ item.product.price }}</p>
            <p><b>AI Score:</b> {{ item.score }}</p>
            <p><b>Reason:</b> {{ item.reason }}</p>

            <a href="/products/{{ item.product.id }}/">
                <button>View Details</button>
            </a>
        </div>
        {% empty %}
        <p>No recommendations available.</p>
        {% endfor %}
    </div>
</section>

</body>
</html>